
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

/* -------- Structure --------*/

body{
  margin: 0;
  background-color: #F8F9F8;
}

header {
  height: 140px;
  background-color: #EAF4F4;
}

footer {
  height: 84px;
  background-color: #EAF4F4
}

.wrapper{
  width: 580px;
  margin: auto;
}

img {
  width: 100%
}

/*------- Logo ---------*/

header h1{
  font-family:Arial, Helvetica, sans-serif;
  color:slategray;
  margin: 0px;
  font-size: 48px;
  text-align: center;
}

header h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: slategrey;
  margin: 0px;
  padding-top: 16px;
  font-size: 22px;
  text-align: center;
}

/* ---------- Body Content ----------- */

h1, h2 {
  color: #495057;
  font-family: Arial;
}

h1 { font-size: 38px;}
h2 { font-size: 30px}

p, li {
  font-family: Arial;
  color: #495057;
  font-size: 20px;
  font-weight:400;
   line-height: 26px;
}

a {
  font-height: 700;
  text-decoration: none;
}

a:link { color:cornflowerblue; }
a:visited {color:darkorchid; }
a:hover { color:cadetblue; }
a:active { color:cadetblue; }

a:hover { text-decoration: underline; }

footer p {
  color: slategray;
  text-align: center;
}

footer a:link { color:cornflowerblue; }
footer a:visited {color:darkorchid; }
footer a:hover { color:cadetblue; }
footer a:active { color:cadetblue; }

/* --------- Elements ---------*/
img, iframe { border-radius: 8px; }

iframe { border: 1px solid #403933; }

hr { border: .5px solid #403933; }

/* ------- Portfolio Section -----------*/ 
.portfolio-item h3 {
  text-align: center;
}

/* --------- Spacers ---------*/
.gap-sm {
    height: 50px;
    width: auto;
}
.gap-md {
    height: 100px;
    width: auto;
}
.gap-lg {
    height: 200px;
    width: auto;
}

.gap-footer {
    height: 10px;
    width: auto;
}
